<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Predications By Duck</title>
    <link rel="stylesheet" href="/styles.css" media="screen">
  </head>
  <body>
    <h1>Predications By Duck</h1>
    <main>
      <article class="">
        Please enter your zip for the latest weather!
        <br>

        <form action="/weather/for" method="post">
          <label for="">Zip</label>
          <input type="text" name="zip">
          <input type="submit" name="commit" value="Get Weather">
        </form>

        <hr>
        or
        <form action="/weather/for/city" method="post">
          <label for="">City</label>
          <input type="text" name="city">
          <label for="">State</label>
          <input type="text" name="state">
          <input type="submit" name="commit" value="Get Weather">
        </form>

      </article>

      <aside class="">
        <ul>
          <li>Alerts</li>
        </ul>
      </aside>

      <div class="clearfix"></div>

      <footer>
        This page was made in <%= Time.now.strftime("%B") %>
      </footer>
    </main>

  </body>
</html>
