<h1>Welcome to my Blargh</h1>

<a href="/micro_posts/new">New Blargh</a>
<% @micro_posts.each do |micro_post| %>
    <h2><%= micro_post.title %></h2>
    <p>
      <%= micro_post.content %>
    </p>
<% end %>
