<h1>New Blargh Post</h1>
<form action="/micro_posts" method="post">
  <label for="title">title</label>
  <input type="text" name="micro_post[title]" value="">
  <label for="content">content</label>
  <input type="text" name="micro_post[content]" value="">
  <label for="author_id">author_id</label>
  <input type="text" name="micro_post[author_id]" value="">
  <label for="name">name</label>
  <input type="submit" name="name" value="Save">
</form>
