<ul>
  <% @animal.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<h2>Add a New Animal</h2>

<form action="/animals" method="post">

  <label for="animal_name">Name</label>
  <input id="animal_name" type="text" name="animal[name]" value="<%= @animal.name %>">

  <label for="animal_born_on">Birfhday</label>
  <input id="animal_born_on" type="date" name="animal[born_on]" value="<%= @animal.born_on %>">

  <label for="animal_species">Species</label>
  <input id="animal_species" type="text" name="animal[species]" value="<%= @animal.species %>">

  <input type="submit" value="Save">
</form>
