<a href="/animals/new">+ New Animal</a>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Birthday
    </th>
    <th>
      Kind
    </th>
  </tr>
  <% @animals.each do |animal| %>
    <tr>
      <td>
        <%= animal.name %>
      </td>
      <td>
        <%= animal.born_on %>
      </td>
      <td>
        <%= animal.species %>
      </td>
    </tr>
  <% end %>
</table>
