
<body>

  <div class="container">
      <ul class="nav navbar-nav">
          <li><%= link_to "Log In", new_session_path %></li>
          <li><%= link_to "Sign Up!", new_user_path %></li>
      </ul>
  </div>

</body>
